* {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
    background-color:#F8F9FA;
}


.slogan {
    text-align: center;
    padding: 20px 80px;
}

.logo {
width: 150px;
height: 150px;
}


.title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.text-center {
    margin: 20px 0 20px 0;
}

.carousel-inner, .carousel-item {
  justify-content: center;
  align-items: center;

}


.footer {
    background: #FF9060;
    text-emphasis-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-size: 16px;
}

